{%extends 'layout.html'%}
{% load static %}

{%block content%}

<div class="box-element">
	<a  class="btn btn-outline-dark" href="{% url 'menu' %}">&#x2190; Continue Shopping</a>
	<br>
	<br>
	<table class="table">
		<tr>
			<th><h5>Groups:<strong></strong></h5></th>
			<th><h5>Total Customers : <strong>{{request.user.customer.allcustomers}}</strong></h5></th>
			<th>
				<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'create' %}">Create products</a>

			</th>
		</tr>
	</table>
</div>


<div class="box-element">
	<div class="cart-row">
		<div style="flex:2"></div>
		<div style="flex:2"><strong>Name</strong></div>
		<div style="flex:1"><strong>Phone</strong></div>
		<div style="flex:1"><strong>Email</strong></div>
		<div style="flex:1"><strong>Age</strong></div>
	</div>
{%for customer in customers%}
	<div class="cart-row">
		{%if customer.image%}
		<div style="flex:2"><img class="row-image" src="{{customer.image.url}}"></div>
		{%else%}
        	<div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
		{%endif%}


		<div style="flex:2"><p>{{customer.customer}}</p></div>
		<div style="flex:1"><p>{{customer.phone}}</p></div>
		<div style="flex:1">
			<p class="quantity">{{customer.customer.email}}</p>
			<div class="quantity">

			</div>
		</div>
		<div style="flex:1"><p></p></div>
	</div>
{%endfor%}
{%endblock%}