{%extends 'layout.html'%}
{% load static %}

{%block content%}

<form action="" method="get">
		<div class="row">
				<div	class="col-lg-2" ></div>

				<div class="col-lg-4">
					{{myFilter.form}}
				</div>
				<div class="col-lg-4">
					<input type="submit" type="submit" class="btn btn-primary" value="Search">
				</div>




		</div>
</form>
<div class="row">
{%for product in products%}

    <div class="col-lg-4">
		{%if product.image%}
			<img class="thumbnail" src="{{product.image.url}}">
		{%else%}
        	<img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		{%endif%}
		<div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="{% url 'viewpage' product.id  %}">View</a>
		<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
		</div>
	</div>




{%endfor%}
</div>

{%endblock%}