{%extends 'layout.html'%}
{% load static %}

{%block content%}
<div class="row">
        <div class="col-lg-4">
		{%if product.image%}
			<img class="thumbnail" src="{{product.image.url}}">
		{%else%}
        	<img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		{%endif%}
		<div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
		<hr>
		<a class="btn btn-outline-success" href="{% url 'menu' %}">&#8592;Back</a>
		<button  class="btn btn-outline-primary add-btn">Add to Cart</button>

		<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
		</div>


	    </div>

		<div class="col-lg-7" style="display: flex;
		align-items: center;">
		<div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio exercitationem expedita minus vitae voluptatem? Ab alias aperiam autem consequuntur earum illo illum incidunt nam, necessitatibus odio placeat quasi reprehenderit vitae?
			{%if user.is_superuser%}
			<a class="btn btn-primary" href="{% url 'update' product.id  %}">Update</a>
			<a class="btn btn-danger" href="{% url  'delete' product.id  %}">Delete</a>
			{%endif%}
		</div>
		</div>
</div>


{%endblock%}














































              <li class="pdp-details__swatch">
                <button type="button" class="button pdp-details__swatch-btn js-swatch selected" data-sku="MW08BK Sport" data-id="40244310343872" data-price="$349" data-compare="" data-available="true" data-src="//cdn.shopify.com/s/files/1/0404/1101/products/unnamed_29_100x100.jpg?v=1627316967" aria-label="Black Sapphire Glass / Black Kevlar® Case color swatch" style="background-image: url(&quot;//cdn.shopify.com/s/files/1/0404/1101/products/unnamed_29_100x100.jpg?v=1627316967&quot;);">
                </button>
              </li>
































































